@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --white: #ffffff;
  --grey: #e2e8f0;
  --blue: #1992D4;
}
/* ----------------------------------------------- */

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: lightblue;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
/* -------------------------------------------- */

.navbar {
  background-color: lightblue;
  grid-column: 2 / 3;
  padding: 10px 50px 10px 20px;
  background-color: var(--white);
}

.navbar svg {
  width: 20px;
  flex-shrink: 0;
}

.avatar-small {
  width: 30px;
  height: 30px;
}

.avatar-large {
    width: 50px;
    height: 50px;
}

.uppernav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.uppernav .left-part {
  display: flex;
  margin-right: auto;
  gap: 10px;
  flex-grow: 2;
}

input[type="search"] {
  height: 20px;
  border: none;
  background-color: var(--grey);
  width: 80%;
  height: 30px;
  border-radius: 20px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px; */
}

input[type="search"]:focus {
  outline: none;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.uppernav .right-part {
  display: flex;
  gap: 10px;
  align-items: center;
}

.lowernav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.lowernav .left-part{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: auto;
    flex-basis: 200px;
}

.lowernav .right-part{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-button{
    border: none;
    background-color: var(--blue);
    color: white;
    /* box-sizing: border-box; */;
    width: 60px;
    height: 25px;
    border-radius: 20px;
}
/* -------------------------------------------- */

.sidebar {
  background-color: lightcoral;
  grid-area: 1 / 1 / 3 / 2;
}
/* --------------------------------------------- */

.main {
  background-color: lightgreen;
  grid-column: 2 / 3;
}
/* --------------------------------------------- */
