@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --white: #ffffff;
  --grey: #e2e8f0;
  --blue: #1992d4;
  --dark-blue: #1783bf;
  --yellow: #FACC15;
  --box-shadow:  rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
/* ----------------------------------------------- */

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

p{
   margin: 0;
}

hr{
    width: 100%;
    color: var(--grey);  
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
} 

svg:hover, button:hover{
    fill: var(--yellow);
    cursor: pointer;
}


/* -------------------------------------------- */

.navbar {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 10px 50px 10px 20px;
  background-color: var(--white);
}

.navbar svg {
  width: 20px;
  flex-shrink: 0;
}

.avatar-small {
  width: 30px;
  height: 30px;
}

.avatar-small:hover{
  cursor: pointer;
}

.avatar-large {
  width: 50px;
  height: 50px;
}

.uppernav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.uppernav .left-part {
  display: flex;
  margin-right: auto;
  gap: 10px;
  flex-grow: 2;
  flex-basis: 300px;
}

input[type="search"] {
  height: 20px;
  border: none;
  background-color: var(--grey);
  width: 80%;
  height: 30px;
  border-radius: 20px;
}

input[type="search"]:focus {
  outline: none;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.uppernav .right-part {
  display: flex;
  gap: 10px;
  align-items: center;
}

.lowernav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.lowernav .left-part {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: auto;
  flex-basis: 200px;
}

.lowernav .right-part {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-button {
  border: none;
  background-color: var(--blue);
  color: white;
  /* box-sizing: border-box; */
  width: 60px;
  height: 25px;
  border-radius: 20px;
}

.nav-button:hover{
  background-color: var(--dark-blue);
}
/* -------------------------------------------- */

.sidebar {
  background-color: var(--blue);
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  color: white;
  padding: 10px 0 0 20px;
}

.sidebar-item{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 15px;
}

.sidebar-item:hover svg, .sidebar-item:hover, .sidebar-item:hover #dashboard{
    fill: var(--yellow);
    color: var(--yellow);
    cursor: pointer;
}

.sidebar-logo{
    margin-bottom: 50px;
}

#dashboard{
    width: 50px;
    fill: white;
}

.tools1 svg, .tools2 svg{
    fill: white;
    width: 20px;
}

.tools1{
    margin-bottom: 50px;
}
/* --------------------------------------------- */

.main {
  background-color: var(--grey);
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  gap: 10px;
  padding: 20px 20px 20px 10px;
}

.heading{
    margin-bottom: 10px;
}
/* -------------------- */

.projects-section{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.project-card{
    height: 203.5px;
    background-color: white;
    border-left: 10px solid ;
    border-radius: 10px;
    border-color: var(--yellow);
    padding: 20px;
    position: relative;
    box-shadow: var(--box-shadow);
    transition: all 0.2s ease-in-out;
}

.project-card:hover{
  transform: scale(1.02)
}

.card-heading:hover{
  cursor: pointer;
}


.card-tools{
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.card-tools svg{
    width: 20px;
}
/* -------------------------- */

.announcement-section{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.announcements, .trending{
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.announcement-heading{
    font-weight: bold;
}

.announcement-heading:hover{
  cursor: pointer;
}

.trending-section{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-top: 50px;
}

.user-profile{
    display: flex;
    gap: 15px;
    align-items: center;
}

.user-profile img:hover, .user-id:hover{
  cursor: pointer;
  text-decoration: underline;
}